!!!5
:css
  body {
    background-color : #E2E2E2;
    text-align: center;
  }


  li {
    list-style: none;
    font-family : "garamond";
    font-size: 1.2em;
    padding: 3px;
  }

  li:hover{
    font-size: 2.0em;

  }

  .container {
    padding: 15px;
    margin-left: 35%;
    margin-right: 35%;
    border: 1px solid black;;
    border-radius: 15px;;
    background-color: #868686;

  }

  .tip {
    font-size:0.8em;

  }

  .word {
    text-align: right;
    margin-right: 40%;
  }

%head
  %title
    Puzzler
%body
  .container
    %h1 Puzzler
    %p Enter partial word
    .tip 
      %p (use underscores to signify blanks)
    %form{:action => '/results/', :method=>'GET'} 
      %input{:type => 'text', :name => 'word'}
      %button{:type => 'submit'}search
