!!!5
:css
  body {
    background-color : #FFCC99;
    text-align: center;
  }

  h1 {
    color : #003366;
  }

  li {
    color : #003366;
    font-family : "garamond";
  }
%head
  %title
    Puzzler
%h1 Puzzler
%p Enter partial word
%form{:action => '/results/', :method=>'GET'} 
  %input{:type => 'text', :name => 'word'}
  %button{:type => 'submit'}search
